# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/out

!/.gitignore
/src/currency_script/Currency.xml
/src/currency_script/export.csv
/src/currency_script/export.old
/src/currency/sql_from_cloud/
/out/production/groovy3/mergeLF_final.class
/out/production/groovy3/readme.txt
/out/production/groovy3/tempScript.class
/out/production/groovy3/build.gradle
/out/production/groovy3/mergeLF_ALL_WORK.class
/out/production/groovy3/ckeckDuplicate.class
/out/production/groovy3/mergeLF.class
/out/production/groovy3/firstScript.class
/out/production/groovy3/Person.class
/out/production/groovy3/CompareDomains.class
