# Created by .ignore support plugin (hsz.mobi)
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/src/currency/sql_from_cloud/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
ahp-testing-framework/core/src/
out/production/groovy3/FXIR/output/merge_lf.old.json
out/production/groovy3/FXIR/output/merge_lf_FXIR.json
out/production/groovy3/FXIR/output/merge_lf_before.json
out/production/groovy3/FXIR/output/newRule.old.json
out/production/groovy3/FXIR/output/newRule2FXIR.json
out/production/groovy3/FXIR/temp/
out/production/groovy3/ckeckDuplicate$_extractFieldsAndMpNameFromLF_closure1.class
out/production/groovy3/ckeckDuplicate.class
out/production/groovy3/currency/
out/production/groovy3/currency_script/
out/production/groovy3/merge3domens/
out/production/groovy3/mergeLF$_extractFieldsAndMpNameFromLF_closure2.class
out/production/groovy3/mergeLF$_mergeLogicalFields_closure4$_closure5.class
out/production/groovy3/mergeLF$_mergeLogicalFields_closure4.class
out/production/groovy3/mergeLF$_printList_closure1.class
out/production/groovy3/mergeLF_ALL_WORK$_extractFieldsAndMpNameFromLF_closure3.class
out/production/groovy3/mergeLF_ALL_WORK$_mergeLogicalFields_closure4$_closure6.class
out/production/groovy3/mergeLF_ALL_WORK$_mergeLogicalFields_closure4.class
out/production/groovy3/mergeLF_ALL_WORK$_mergeLogicalFields_closure5$_closure7.class
out/production/groovy3/mergeLF_ALL_WORK$_mergeLogicalFields_closure5.class
out/production/groovy3/mergeLF_ALL_WORK$_printList_closure1.class
out/production/groovy3/mergeLF_ALL_WORK$_printMap_closure2.class
out/production/groovy3/mergeLF_ALL_WORK.class
out/production/groovy3/mergeLF_final$_extractFieldsAndMpNameFromLF_closure3.class
out/production/groovy3/mergeLF_final$_mergeLogicalFields_closure4$_closure6.class
out/production/groovy3/mergeLF_final$_mergeLogicalFields_closure4.class
out/production/groovy3/mergeLF_final$_mergeLogicalFields_closure5$_closure7.class
out/production/groovy3/mergeLF_final$_mergeLogicalFields_closure5.class
out/production/groovy3/mergeLF_final$_printList_closure1.class
out/production/groovy3/mergeLF_final$_printMap_closure2.class
out/production/groovy3/mergeLF_final.class
out/production/groovy3/readme.txt
src/FXIR/output/
src/currency/sql_from_cloud/
src/currency_script/Currency.xml
src/merge3domens/output/DIR_FXIR_FXIRREF_MERGE/DIRlogicalfield.json
src/merge3domens/output/DIR_FXIR_FXIRREF_MERGE/FXIRREFlogicalfield.json
src/merge3domens/output/DIR_FXIR_FXIRREF_MERGE/FXIRlogicalfield.json
src/merge3domens/output/DIRlogicalfield.json
src/merge3domens/output/FXIRREFlogicalfield.json
src/merge3domens/output/FXIRlogicalfield.json
src/merge3domens/output/merge_lf.json
src/merge3domens/output/newLF.json
src/merge3domens/output/newRule.json
src/merge3domens/output/newRuleDIR.json
src/merge3domens/output/newRuleFXIR.json
/src/currency_script/export.csv
/src/currency_script/export.old
